.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: fixed;
  background: white;
  width: 500px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.button-close {
  margin-left: auto;
  margin-right: 10px;
  display: block;
  width: 40px;
  height: 40px;
  padding: 0px;
  background-color: gray;
  border-color: gray;
}


.display-block {
  display: block;
}

.display-none {
  display: none;
}